<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Añadir prestamo</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	 <link th:href="@{/styles/campos.css}" rel="stylesheet">
</head>
<body>

	<div class="container">
		<h1>Gestion de prestamos</h1>
		<hr>
		<h2>Añadir Prestamo</h2>
		
		<div th:if="${errores}" class="errores">
			<span th:each="error : ${errores}" th:text="${error}"></span>
		</div>
		
		<form action="#" th:action="@{/prestamos/save}"
			th:object="${prestamo}" method="POST">
			
			<label>Lista de lectores: </label>
			
			
			 <select th:field="*{idLector}">
				<option th:each="lectorOpt : ${listaLectores}"
					th:value="${lectorOpt.id}" th:text="${lectorOpt.nombre}"></option>
			</select> <br> <label>Lista de copias: </label>
			
			 <select
				th:field="*{idCopia}">
				<option th:each="copiaOpt : ${listaCopias}" th:value="${copiaOpt.id}"
					th:text="${copiaOpt.id} + ' - ' +${copiaOpt.libroCopia.titulo}"></option>
			</select> <br> 
			
			<input type="text" th:field="*{inicio}"
				class="form-control mb-4 col-4"> <br> 
				
				<input
				type="text" th:field="*{fin}" class="form-control mb-4 col-4">
			<br>

			<button type="submit" class="btn btn-info col-2">Guardar
				Prestamo</button>
		</form>

		<hr>

		<a th:href="@{/prestamos}"> Volver a la lista de Prestamos</a>
	</div>
</body>
</html>